page-demo {
  display: flex;
  flex-direction: column;
  background: #121212;
  color: #fff;
  nav a {
    border: 1px solid #fff;
    color: #fff;
  }
  div {
    margin: auto;
    svg { margin: 0 auto; }
    >*+* {
      margin-top: 1.618rem;
    }
  }
}
