page-home {
  display: flex;
  flex-direction: column;
  background: #fff;
  div {
    margin: auto;
    text-align: center;
    svg { margin: 0 auto; }
    >*+* {
      margin-top: 1.618rem;
    }
  }
}
